# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# dotenv
.env

# virtualenv
.venv
venv/
ENV/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

\.idea/workspace\.xml

Project_2/cmake-build-debug/

Project_2/\.idea/

\.idea/misc\.xml

\.idea/IT3708\.iml

\.idea/vcs\.xml

Project_3/\.idea/

Project_3/cmake-build-debug/cmake_install\.cmake

Project_3/cmake-build-debug/CMakeCache\.txt

Project_3/cmake-build-debug/CMakeFiles/3\.9\.6/CMakeCCompiler\.cmake

Project_3/cmake-build-debug/CMakeFiles/3\.9\.6/CMakeCXXCompiler\.cmake

Project_3/cmake-build-debug/CMakeFiles/3\.9\.6/CMakeDetermineCompilerABI_C\.bin

Project_3/cmake-build-debug/CMakeFiles/3\.9\.6/CMakeDetermineCompilerABI_CXX\.bin

Project_3/cmake-build-debug/CMakeFiles/3\.9\.6/CMakeRCCompiler\.cmake

Project_3/cmake-build-debug/CMakeFiles/3\.9\.6/CMakeSystem\.cmake

Project_3/cmake-build-debug/CMakeFiles/3\.9\.6/CompilerIdC/a\.exe

Project_3/cmake-build-debug/CMakeFiles/3\.9\.6/CompilerIdC/CMakeCCompilerId\.c

Project_3/cmake-build-debug/CMakeFiles/3\.9\.6/CompilerIdCXX/a\.exe

Project_3/cmake-build-debug/CMakeFiles/3\.9\.6/CompilerIdCXX/CMakeCXXCompilerId\.cpp

Project_3/cmake-build-debug/CMakeFiles/clion-environment\.txt

Project_3/cmake-build-debug/CMakeFiles/clion-log\.txt

Project_3/cmake-build-debug/CMakeFiles/cmake\.check_cache

Project_3/cmake-build-debug/CMakeFiles/CMakeDirectoryInformation\.cmake

Project_3/cmake-build-debug/CMakeFiles/feature_tests\.bin

Project_3/cmake-build-debug/CMakeFiles/feature_tests\.c

Project_3/cmake-build-debug/CMakeFiles/feature_tests\.cxx

Project_3/cmake-build-debug/CMakeFiles/Makefile\.cmake

Project_3/cmake-build-debug/CMakeFiles/Makefile2

Project_3/cmake-build-debug/CMakeFiles/progress\.marks

Project_3/cmake-build-debug/CMakeFiles/Project_2\.dir/build\.make

Project_3/cmake-build-debug/CMakeFiles/Project_2\.dir/cmake_clean\.cmake

Project_3/cmake-build-debug/CMakeFiles/Project_2\.dir/depend\.make

Project_3/cmake-build-debug/CMakeFiles/Project_2\.dir/DependInfo\.cmake

Project_3/cmake-build-debug/CMakeFiles/Project_2\.dir/flags\.make

Project_3/cmake-build-debug/CMakeFiles/Project_2\.dir/progress\.make

Project_3/cmake-build-debug/CMakeFiles/Project_3\.dir/build\.make

Project_3/cmake-build-debug/CMakeFiles/Project_3\.dir/cmake_clean\.cmake

Project_3/cmake-build-debug/CMakeFiles/Project_3\.dir/CXX\.includecache

Project_3/cmake-build-debug/CMakeFiles/Project_3\.dir/depend\.internal

Project_3/cmake-build-debug/CMakeFiles/Project_3\.dir/depend\.make

Project_3/cmake-build-debug/CMakeFiles/Project_3\.dir/DependInfo\.cmake

Project_3/cmake-build-debug/CMakeFiles/Project_3\.dir/flags\.make

Project_3/cmake-build-debug/CMakeFiles/Project_3\.dir/includes_CXX\.rsp

Project_3/cmake-build-debug/CMakeFiles/Project_3\.dir/link\.txt

Project_3/cmake-build-debug/CMakeFiles/Project_3\.dir/linklibs\.rsp

Project_3/cmake-build-debug/CMakeFiles/Project_3\.dir/objects\.a

Project_3/cmake-build-debug/CMakeFiles/Project_3\.dir/objects1\.rsp

Project_3/cmake-build-debug/CMakeFiles/Project_3\.dir/progress\.make

Project_3/cmake-build-debug/CMakeFiles/Project_3\.dir/src/main\.cpp\.obj

Project_3/cmake-build-debug/CMakeFiles/TargetDirectories\.txt

Project_3/cmake-build-debug/Makefile

Project_3/cmake-build-debug/Project_2\.cbp

Project_3/cmake-build-debug/Project_3\.exe

*.obj


Project_3/cmake-build-debug/
*.xml

*.html

*.cbp
